<header>
    <nav>
        <a href="/">Library</a>
        <ul>
            <li><a href="/authors">All authors page</a></li>
            <li><a href="/authors/new">New author page</a></li>
        </ul>
    </nav>
</header>